<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>

            .error{
                color:red;
            }
        </style>

    </head>
    <body>
           
        
        <tr>
            <td> 
                    <a href="/"> Home </a>
                    
                    </td>
                    <br>
                    <td>


       <td> 
            <a href="/blog"> Main Blog Page </a>
            
            </td>
            <br>
            <td>
      
       <a href="/newpost"> Add a Blog Entry </a>
        </td>
        
        </tr>
        <br>
    
        <tr>
            <td> 
                <a href="/logout" > Logout </a>
                 
                 </td>
                <br>
                 
                 <td>
           
             <a href="/login"> Login </a>
             </td>
             
             </tr>
            

 
{% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
        {% for category,message in messages %}
    <li class="{{category}}"> {{message}} </li>
    {% endfor %}
    </ul>
{% endwith %}

        {% block content %}
        {% endblock %}
        

    </body>
</html>
