{% extends "base.html" %}

{% block content %}
 

{% if tasks|length ==0 %}
    <p> No blogs yet </p>
    {% else %}

    <ul>
        {%for task in tasks%}
        <!-- <li> -->
            <a href="/blog?id={{task.id}}" ><h2> {{task.title}}</h2>
            <input type="hidden" name="task-id" value="{{task.id}}" /></a>
        
        {{task.blog}}
        <p>written by <a href = "/blog?userid={{task.owner_id}}">{{task.owner.username}}</a></p>

<!-- </li> -->
<hr>
        {% endfor %}
    </ul>

    {% endif %}


{% endblock %}